button{
    font-size: 20px;
    background-color: blue;
    padding: 20px 20px;
    color: whitesmoke;
    font-weight: bolder;
}

.count{
    font-size: 20px;
    background-color: yellow;
    padding: 20px 20px;
    color: red;
    font-weight: bolder;

}